src/main/resources/schemas/gatekeeper.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="https://poortwachter.notarisid.nl/srs/1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:srs="https://poortwachter.notarisid.nl/srs/1.0"
             xmlns:gatekeeper="https://poortwachter.notarisid.nl/gatekeeper/1.0"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
             xmlns:wsu="http://schemas.xmlsoap.org/ws/2004/09/policy">

    <types>
        <xsd:schema targetNamespace="https://poortwachter.notarisid.nl/srs/1.0" elementFormDefault="qualified">
            <xsd:import namespace="https://poortwachter.notarisid.nl/srs/1.0" schemaLocation="srs.xsd"/>
        </xsd:schema>
<!--
        <xsd:schema targetNamespace="https://poortwachter.notarisid.nl/gatekeeper/1.0" elementFormDefault="qualified">
            <xsd:import namespace="https://poortwachter.notarisid.nl/gatekeeper/1.0" schemaLocation="gatekeeper.xsd"/>
        </xsd:schema>
    </types>-->


    <!-- Messages -->
    <message name="RetrieveReportSummariesRequest">
        <part name="RequestHeader" type="srs:RequestHeader"/>
        <part name="RetrieveReportSummariesRequest" type="srs:RetrieveReportSummariesRequest"/>
    </message>
    <message name="RetrieveReportSummariesResponse">
        <part name="RetrieveReportSummariesResponse" type="srs:RetrieveReportSummariesResponse"/>
    </message>
    <message name="DownloadReportRequest">
        <part name="RequestHeader" type="srs:RequestHeader"/>
        <part name="DownloadReportRequest" type="srs:DownloadReportRequest"/>
    </message>
    <message name="DownloadReportResponse">
        <part name="DownloadReportResponse" type="srs:DownloadReportResponse"/>
    </message>
    <message name="ConfirmReportRetrievalRequest">
        <part name="RequestHeader" type="srs:RequestHeader"/>
        <part name="ConfirmReportRetrievalRequest" type="srs:ConfirmReportRetrievalRequest"/>
    </message>
    <message name="ConfirmReportRetrievalResponse">
        <part name="ConfirmReportRetrievalResponse" type="srs:ConfirmReportRetrievalResponse"/>
    </message>

    <!-- Faults -->
    <message name="OperationFailedResponse">
        <part name="Detail" type="gatekeeper:ErrorMessage"/>
    </message>
    <message name="ScanReportNotFoundResponse"/>

    <portType name="ScanRetrievalServicePortType">
        <operation name="RetrieveReportSummaries">
            <input name="RetrieveReportSummariesRequest" message="srs:RetrieveReportSummariesRequest"/>
            <output name="RetrieveReportSummariesResponse" message="srs:RetrieveReportSummariesResponse"/>
            <fault name="OperationFailedResponse" message="srs:OperationFailedResponse"/>
        </operation>
        <operation name="DownloadReport">
            <input name="DownloadReportRequest" message="srs:DownloadReportRequest"/>
            <output name="DownloadReportResponse" message="srs:DownloadReportResponse"/>
            <fault name="OperationFailedResponse" message="srs:OperationFailedResponse"/>
            <fault name="ScanReportNotFoundResponse" message="srs:ScanReportNotFoundResponse"/>
        </operation>
        <operation name="ConfirmReportRetrieval">
            <input name="ConfirmReportRetrievalRequest" message="srs:ConfirmReportRetrievalRequest"/>
            <output name="ConfirmReportRetrievalResponse" message="srs:ConfirmReportRetrievalResponse"/>
            <fault name="OperationFailedResponse" message="srs:OperationFailedResponse"/>
        </operation>
    </portType>

    <binding name="ScanRetrievalServiceBinding" type="srs:ScanRetrievalServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RetrieveReportSummaries">
            <soap12:operation soapAction="RetrieveReportSummaries" style="document"/>
            <input>
                <soap12:body parts="RetrieveReportSummariesRequest" use="literal"/>
                <soap12:header message="srs:RetrieveReportSummariesRequest" part="RequestHeader" use="literal"/>
            </input>
            <output>
                <soap12:body parts="RetrieveReportSummariesResponse" use="literal"/>
            </output>
            <fault name="OperationFailedResponse">
                <soap12:fault name="OperationFailedResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="DownloadReport">
            <wsp:PolicyReference URI="#ScanRetrievalServiceBindingPolicy" required="true"/>
            <soap12:operation soapAction="DownloadReport" style="document"/>
            <input>
                <soap12:body parts="DownloadReportRequest" use="literal"/>
                <soap12:header message="srs:DownloadReportRequest" part="RequestHeader" use="literal"/>
            </input>
            <output>
                <soap12:body parts="DownloadReportResponse" use="literal"/>
            </output>
            <fault name="OperationFailedResponse">
                <soap12:fault name="OperationFailedResponse" use="literal"/>
            </fault>
            <fault name="ScanReportNotFoundResponse">
                <soap12:fault name="ScanReportNotFoundResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="ConfirmReportRetrieval">
            <soap12:operation soapAction="ConfirmReportRetrieval" style="document"/>
            <input>
                <soap12:body parts="ConfirmReportRetrievalRequest" use="literal"/>
                <soap12:header message="srs:ConfirmReportRetrievalRequest" part="RequestHeader" use="literal"/>
            </input>
            <output>
                <soap12:body parts="ConfirmReportRetrievalResponse" use="literal"/>
            </output>
            <fault name="OperationFailedResponse">
                <soap12:fault name="OperationFailedResponse" use="literal"/>
            </fault>
        </operation>
    </binding>

    <wsp:Policy wsu:Id="ScanRetrievalServiceBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing
                        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        wsp:Optional="true"/>
                <sp:AsymmetricBinding>
                    <wsp:Policy>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token
                                        sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256Sha256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <service name="ScanRetrievalService">
        <port binding="srs:ScanRetrievalServiceBinding" name="ScanRetrievalServicePort">
            <soap12:address location="https://poortwachter.notarisid.nl/srs/1.0"/>
        </port>
    </service>
</definitions>
